## Ignore Visual Studio temporary files, build results, and user-specific files

# Visual Studio
*.suo
*.user
*.VC.db
*.VC.opendb
*.ipch
*.obj
*.pch
*.exe
*.pdb
*.log
*.tlog
*.lastbuildstate
*.ilk
*.idb
*.aps
*.ncb
*.opendb
*.cache
*.db
*.db-shm
*.db-wal
*.log

# Build folders
Debug/
Release/
x64/
.vscode/

# SFML binaries (optional – jeśli chcesz wykluczyć DLL)
#libs/SFML/bin/
#libs/SFML/lib/
